target/
.classpath
.factorypath
.project
.settings/
.springBeans
.vscode/
*.class
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar
.DS_Store
*.log
dependency-reduced-pom.xml

# Base de datos H2 local
data/
*.db
*.mv.db
*.trace.db
